
body {
    display: flex;
    flex-direction: column;
    background-color:bisque;
}
header {
    display: flex;
    padding:5px;
    align-items: center;
    justify-content: space-between;
    background-color: black;    
}
h1 {
    display: flex;
    align-items: center;
    justify-items: left;
    color: white;
}

h2 {
    display: flex;
    font-size: xx-large;
    text-transform: uppercase;

}

h3 {
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
} 

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
nav ul li {
    background-color: unset;
    font-weight: bold;
    text-decoration: none;

} 

nav ul :hover {
    color: red;
}

.hero {
    height: 300px;
    width: 100% ;
    margin-bottom:25px;
    background-image: url("../assets/images/galaxy-1.jpg");
    background-size: cover;
    background-position: center;
}


.content-all{
    margin-left: 25px;
}
.section-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    padding-top: 25px;
}

/*about me*/
#about-me-figure {
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
}
.about-me-content p {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    max-width: 90%;
    padding-left: 10px;
    padding-right: 25px;
}

.about-me-content img {
    display: flex;
    max-width: 90%;
    max-height: 90%;

}
/*my work*/
.work-section-content {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    length: 300px;
    
}

#horiseon {
    display:flex;
}

#my-work {
    background-color: rgb(252, 189, 113);
}

.work-title {
    display: inline-block;
    background-color: white;
    margin: 5px;
    position: absolute;

}
.work-section-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    max-width: 75%;
    margin: 15px;
}
.work-title h3 {
    font: white;
    font-size:medium;
}
.work-title h4 {
    font-size: smaller;
}


#horiseon {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 300px;
    height: 300px;
    margin:5px;

}

#fanpage {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 300px;
    height: 300px;
    margin:5px;
}
.work-content img{
    height: 300px;
    width: 300px;
}

#first-project{
    display: flex;
    width: 800px;
    height: 300px;
}

/*contact section*/ 
#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 85%;
    padding-bottom: 30px;
    
}

.contact-section-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    background-color: bisque;
    font-size: large;
    padding-top: 15px;

}
.contact-section-content p {
    font-size: x-large;
    margin: 10px;
    text-align: center;
    
}

/*for smaller screens*/ 
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 768px;
}

@media screen and (max-width: 414px) {
    header {
        flex-direction: column;
    }
    
    main {
        max-width: 414px;
}

@media screen and (max-width: 375px) {
    header {
      flex-direction: column;
}
  
    main {
      max-width: 375px;