
body {
    display: flex;
    flex-direction: column;
    background-color:bisque;
}
header {
    display: flex;
    padding:5px;
    align-items: center;
    justify-content: space-between;
    background-color: black;    
}
h1 {
    display: flex;
    align-items: center;
    justify-items: left;
    color: white;
}

h2 {
    display: flex;
    font-size: xx-large;
    text-transform: uppercase;

}

h3 {
    padding-top: 30px;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
} 

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
nav ul li {
    background-color: unset;
    font-weight: bold;
    text-decoration: none;

} 

nav ul :hover {
    color: red;
}

.hero {
    height: 300px;
    width: 100% ;
    margin-bottom:25px;
    background-image: url("../assets/images/galaxy-1.jpg");
    background-size: cover;
    background-position: center;
}


.content-all{
    margin-left: 25px;
}
.content-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
}


#about-me-figure {
    display:flex;
    justify-content: space-between;
    padding-top: 15px;
}
.about-me-content p {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    max-width: 90%;
    padding-left: 10px;
    padding-right: 25px;
}

.about-me-content img {
    display: flex;
    max-width: 90%;
    max-height: 90%;

}

.my-work-content {
    padding-top: 15px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}